<style>
    footer {
        width: 100%;
    }
    a.condensed {
        color: black;
        text-decoration: none;
        padding: 5px;
        border-top: 1px solid lightgray;
    }
    a.condensed:hover {
        color: black;
    }
</style>
<div class="content">
    <div class="search">
        <h3>Search: </h3>
        <input type="text" ng-model="searchText" class="form-control" ng-change="getInventory(searchText)">
        <ul class="normal-list category-list">
            <li ng-repeat="category in categories">
                <a href="#/buy/{{category}}">
                    {{category}}
                </a>
                <ul class="normal-list member-list">
                    <li ng-repeat="member in types | filter: {category:category}">
                        <a href="#/buy/{{category}}/{{member.type}}">
                            {{member.type}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="splash-wrap">
        <div class="top">
            <ol class="breadcrumb">
                <li ng-if="searchCategory">
                    <a href="#/buy">{{searchCategory}}</a>
                </li>
                <li ng-if="searchType">
                    <a href="#/buy/{{searchCategory}}">{{searchType}}</a>
                </li>
            </ol>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default"
                        ng-class="{active:view.stack}"
                        ng-click="showView('stack')"
                        ng-init="view.stack = true">
                    <span class="glyphicon glyphicon-th-large"></span>
                </button>
                <button type="button" class="btn btn-default"
                        ng-class="{active:view.list}"
                        ng-click="showView('list')"
                        ng-init="view.list = false">
                    <span class="glyphicon glyphicon-list"></span>
                </button>
            </div>
            <div class="clear"></div>
        </div>
        <div class="items row">
            <a class="highLight" href="#/item/{{item._id}}"
               ng-repeat="item in filtered = (inventory
               | filter: {category: searchCategory}
               | filter: {type: searchType}
               | filter: searchText)"
               ng-show="view.stack">
                <div class="item">
                    <div class="thumbnail">
                        <img src="images/items/{{item.src}}" alt="Pro tour driver">
                        <div class="caption">
                            <div class="name">{{cart.display(item.brand+" "+item.name, 50)}}</div>
                            <div class="price">
                                <span style="text-decoration: line-through;color:grey;font-size:.8em">${{item.price}}</span>
                                <span style="color: darkred;">${{cart.price(item, 1)}}</span>&nbsp;
                                <span>{{cart.discount(item)}}% off</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="condensed" ng-repeat="item in filtered = (inventory
                                 | filter: {category: searchCategory}
                                 | filter: {type: searchType}
                                 | filter: searchText)" href="#/item/{{item._id}}" ng-show="view.list">
                <div class="media">
                    <img class="media-object pull-left" src="images/items/{{item.src}}" alt="Pro tour driver" width="64px">
                    <div class="media-body">
                        <div style="font-size:1.4em">
                            {{item.brand}} {{item.name}}
                        </div>
                        <div>
                            <span style="text-decoration: line-through;color:grey;font-size:.8em">${{item.price}}</span>
                            <span style="color: darkred;font-size: 1.2em">${{cart.price(item, 1)}}</span>&nbsp;
                            <span>{{cart.discount(item)}}% off</span>
                        </div>
                        <div>
                            {{cart.display(item.description, 250)}}
                        </div>
                    </div>
                </div>
            </a>
            <div ng-if="!filtered.length&&!loading">
                <h1>No results found</h1>
            </div>
        </div>
    </div>
</div>
