<div class="container">
    <h1>Disclaimer</h1>
    <p>
        Item images and descriptions, used throughout CGGA ProShop website, are used for educational proposes only and are copyright of their original owners as follows:<br>
        <a href="http://www.golfgalaxy.com">http://www.golfgalaxy.com</a><br>
        <a href="http://www.golfsmith.com">http://www.golfsmith.com</a><br>
        <a href="http://www.tgw.com">http://www.tgw.com</a><br>
        <a href="http://www.edwinwattsgolf.com">http://www.edwinwattsgolf.com</a><br>
        <a href="http://www.dickssportinggoods.com">http://www.dickssportinggoods.com</a><br>
        <a href="http://www.globalgolf.com">http://www.globalgolf.com</a><br>
        <a href="http://golfbagwarehouse.com">http://golfbagwarehouse.com</a>
    </p>
</div>