<style>
    .submenu {
        width: 100%;
        border-collapse: separate;
    }
    .submenu td {
        height: 50px;
        text-align: center;
        background: rgb(201, 213, 193);
        width: 20%;
    }
    .submenu a {
        color: black;
    }
    .submenu a:hover {
        color: #6AA84F;
        text-decoration: none;
    }
</style>
<div class="container">
    <table class="submenu">
        <tr>
            <td><a href="#/buy/clubs">Clubs</a></td>
            <td><a href="#/buy/clubs">Apparel</a></td>
            <td><a href="#/buy/clubs">Clubs</a></td>
            <td><a href="#/buy/clubs">Clubs</a></td>
            <td><a href="#/buy/clubs">Clubs</a></td>
        </tr>
    </table>
    <h1>Hot deals</h1>
    <div class="deals">
    </div>
</div>