<style>
    .td {
        width: 100%;
    }
    .td td {
        text-align: center;
    }
    .name {
        display: inline-block;
        font-size: 1.4em;
        border-bottom: 1px solid gray;
        padding: 0 30px;
    }
    .email {
        font-style: italic;
    }
</style>
<div class="container">
    <div style="font-size:3em;font-weight:bold;padding: 20px 0;color: black">
        Team <img src="images/logos/pluggedIn-logo.png" width="300px">
    </div>
    <div style="padding: 5px 0;">

    </div>
    <div>
        <table class="td">
            <tr>
                <td>
                    <div class="name">Steve Carroll</div>
                    <div class="email">Scarrol@knights.ucf.edu</div>
                </td>
                <td>
                    <div class="name">Brandon Couts</div>
                    <div class="email">carbondonuts@knights.ucf.edu</div>
                </td>
                <td>
                    <div class="name">Garry Cronyn</div>
                    <div class="email">Gcronyn@knights.ucf.edu</div>
                </td>
            </tr>
        </table>
    </div>
    <div style="padding-bottom: 15px;">

    </div>
</div>