<style>
    .td {
        width: 100%;
    }
    .td td {
        text-align: center;
    }
    .name {
        display: inline-block;
        font-size: 1.4em;
        border-bottom: 1px solid gray;
        padding: 0 30px;
    }
    .email {
        font-style: italic;
    }
</style>
<div class="container">
    <div style="font-size:3em;font-weight:bold;padding: 10px 0;color: black">
        Team <img src="images/logos/pluggedIn-logo.png" width="300px">
    </div>
    <div>
        This was a project done for Managing IT Integration in the summer of 2014. The object was to build a ProShop website for a fake customer called Cypress Gardens Golf Academy. To this end we were given a lot of freedom as the direction of the final product and this is its result.
    </div>
    <div style="padding: 15px 0;">
        <span style="font-size:1.4em">>></span> <a href="documents/Final product.docx" style="font-size:1.4em;font-weight: bold;">Project document</a> <span style="font-size:1.4em"><<</span>
    </div>
    <h2 style="margin-top: 0;margin-bottom: 15px;">The Members:</h2>
    <div>
        <table class="td">
            <tr>
                <td>
                    <div class="name">Steve Carroll</div>
                    <div class="email">Scarrol@knights.ucf.edu</div>
                </td>
                <td>
                    <div class="name">Brandon Couts</div>
                    <div class="email">carbondonuts@knights.ucf.edu</div>
                </td>
                <td>
                    <div class="name">Garry Cronyn</div>
                    <div class="email">Gcronyn@knights.ucf.edu</div>
                </td>
            </tr>
        </table>
    </div>
    <div style="padding-bottom: 15px;">

    </div>
</div>